<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-hero section-shaped" >
        <!-- Background circles -->      
        <div class="shape shape-style-1 shape-primary">
          <span class="span-150"></span>
          <span class="span-50"></span>
          <span class="span-50"></span>
          <span class="span-75"></span>
          <span class="span-75"></span>
          <span class="span-25"></span>
          <span class="span-100"></span>
          <span class="span-100"></span>
          <span class="span-50"></span>
          <span class="span-100"></span>
        </div>
        <div class="container py-lg-md d-flex">
            <div class="col px-0">
              <div class="row">
                <div class="col-lg-6">
                  <h1 class="display-3  text-white">Community Node
                  </h1>
                  <p class="lead  text-white">
                    Validator Address:
                    <span>
                      <a href="https://staking.harmony.one/validators/{{this.validatorAddress}}" target="_blank" class="lead text-white">{{this.validatorAddress}}</a>
                    </span><br>                    
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!-- SVG separator -->
          <div class="separator separator-bottom separator-skew">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
              <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
          </div>
      </section>
      <!-- 1st Hero Variation -->
    </div>    
    <section class="section section-lg">
        <div class="container">
          <div class="row row-grid align-items-center">
            <div class="col-md-6 order-md-2">
              <img src="./assets/img/brand/community-node.jpg" class="img-fluid floating">
            </div>
            <div class="col-md-6 order-md-1">
              <div class="pr-md-5">
                <div class="icon icon-lg icon-shape icon-shape-success shadow rounded-circle mb-5">
                  <i class="ni ni-settings-gear-65"></i>
                </div>
                <h3>Community Node</h3>
                <p>The Community Node is a collective of Hamonauts, who will actively participate in the ecosystem to ensure that we do our part as a community, 
                  to ensure the success of the Harmony Poject.  We recognize that the problems with centralization cannot be fixed with code alone.  
                  It requires a community.  Working together, we can make a change.  If you would like to be a part of the movement, 
                  feel free to reach out and join us. We know that Harmony is young, but we seek to actively participate in 
                  chain governance as the Harmony Team looks to the community for decentralization</p>
                <ul class="list-unstyled mt-5">
                  <li>
                    <div class="container  py-lg-md d-flex">
                        <div class="row">
                          <div class="col card bg-gradient-secondary shadow"><span>Status:</span></div>
                          <div class="col card bg-gradient-secondary shadow"><span>{{this.status}}</span></div>
                          <div class="w-100"></div>
                          <div class="col card bg-gradient-secondary shadow"><span>Uptime (AVG):</span></div>
                          <div class="col card bg-gradient-secondary shadow"><span>{{this.uptime | number: '.2-2'}}%</span></div>
                          <div class="w-100"></div>
                          <div class="col card bg-gradient-secondary shadow"><span>Total Delegation:</span></div>
                          <div class="col card bg-gradient-secondary shadow"><span>{{this.totalDelegation | number: '.0-0'}}</span></div>
                          <div class="w-100"></div>
                          <div class="col card bg-gradient-secondary shadow"><span>Total Rewards:</span></div>
                          <div class="col card bg-gradient-secondary shadow"><span>{{this.totalRewards | number: '.0-0'}}</span></div>
                          <div class="w-100"></div>
                          <div class="btn-wrapper mt-2">
                            <a href="https://staking.harmony.one/validators/{{this.validatorAddress}}" target="_blank" class="btn btn-lg btn-white btn-icon mb-3 mb-sm-0">
                              <span class="btn-inner--icon"><i class="fa fa-users"></i></span>
                              <span class="btn-inner--text">Delegate Now</span>
                            </a>                        
                          </div>
                          <div><span></span></div>
                        </div>
                      </div>
                     
                  </li>
                  <li>
                    
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
  </main>
  